#daten
{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 10%;
    color: var(--text-color-1);
}

#impressum
{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 10%;
    color: var(--text-color-1);
}