.Footer{
    background-color:rgb(15,15,15);
    z-index: 10;
    font-size: 125%;
}

.wrapper{
    margin: 1%;
}

.name{
    width: max-content;
    margin-bottom: 0.5%;
}

.datenschutz{
    border: solid white 2px;
    background-color: rgb(15,15,15);
    padding: 5px;
    width: max-content;
    cursor: pointer;
    transition: .5s ease;
}

.datenschutz:hover{
    background-color: white;
    color: rgb(15,15,15);
}